.poem {
    background: wheat;
    padding: .25em;
    height: auto;
    margin-bottom: .5em;
    font-size: 100%;
}

.poem > input {
    display: none;
}

.poem > label > h2 {
    position: relative;
    margin: 0;
    cursor: pointer;
    top: .3em;

}

.poem > div {
    position: relative;
    background: var(--paper-color);
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 1s;
    margin-top: .5em;
}

.poem > div > div {
    padding: .5em;
    font-size: 125%;
}

.poem > div > div {
    height: auto;
}


.poem > div > p {
    margin: .5em;
}

.poem > label {
    display: flex;
    color: var(--back-color2);
}

.poem-arrow {
    overflow: hidden;
    position: relative;
    content: '';
    width: 1.5em;
    height: 2em;
    margin: 0 .5em;
    transition: .5s;
}

.poem-arrow::before,
.poem-arrow::after {
    content: ' ';
    position: absolute;
    width: 2.1em;
    height: .125em;
    background: var(--back-color);;
    top: .9em;
}

.poem-arrow::before {
    transform: rotateZ(45deg);
    left: -1em;
}
.poem-arrow::after {
    transform: rotateZ(-45deg);
    right: -1em;
}
.poem > input:checked ~ label > span {
    transform: rotateX(180deg) translateY(-.6em);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.info > img {
    height: 20vw;
}