.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    float: right;
    width: 32vw;
    height: 24vw;
    margin-left: 1em;
}

section:has(.slider) {
    min-height: calc(24vw + 2em);
}

.slider > .slider-img-wrap {
    position: absolute;
    display: flex;
    left: 0%;
    transition: 1s;
/*     height: auto; */
/*     left: -100%; */
}

.slider > div > figure > img {
    object-fit: cover;
    height: 24vw;
/*     max-height: 300px; */
}

.slider-arrow-l,
.slider-arrow-r {
    position: absolute;
    top: 10.5vw;
    background: white;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    opacity: 0;
    transition: .5s;
}
.slider-arrow-l > img,
.slider-arrow-r > img {
    width: inherit;
    height: inherit;
}
.slider-arrow-l {
    left: 1vw;
}
.slider-arrow-r {
    right: 1vw;
}

.slider > div > figure > p {
    display: inline;
    position: relative;
    bottom: 1.4em;
    left: -.2em;
    padding: .1em .5em;
    background: #d3d3d363;
    backdrop-filter: blur(4px);
    border-style: solid;
    border-color: #74493b;
    border-radius: .3em;
    width: 100%;
}

.slider:hover > .slider-arrow-l,
.slider:hover > .slider-arrow-r {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 768px) {
    .slider {
        float: none;
        width: 80vw;
        height: 60vw;
        margin-bottom: 1em;
    }
    .slider > div > figure > img {
        height: 60vw;
    }
    .slider-arrow-l,
    .slider-arrow-r {
        position: absolute;
        top: 30.5vw;
/*         content: 'asd'; */
/*         background: white; */
        width: 8vw;
        height: 8vw;
    }
/*     .slider-arrow-l > span,
    .slider-arrow-r > span {
        position: absolute;
        background: black;
        top: 40%;
        width: 100%;
        height: 20%;
        border-radius: .5em;
    } */

/*     .slider-arrow-l > span::before,
    .slider-arrow-r > span::before,
    .slider-arrow-l > span::after,
    .slider-arrow-r > span::after
    
    .slider-arrow-l > span::before,
    .slider-arrow-r > span::before {
        content: ' ';
        position: absolute;
        background: black;
        width: 75%;
        height: 100%;
        border-radius: .5em;
        top: -50%;
        transform: rotateZ(45deg);
    } */

/*     .slider-arrow-l > span::after,
    .slider-arrow-r > span::after {
        content: ' ';
        position: absolute;
        background: black;
        width: 75%;
        height: 100%;
        border-radius: .5em;
        top: 1em;
        
    }

    .slider-arrow-l > span::after,
    .slider-arrow-l > span::before {
        
    } */
}