@import url("header.css");
@import url("footer.css");
@import url("share.css");
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root {
    --back-color2: #4d2a17;
    --back-color: #2c1913;
    --main-color: wheat;
    --paper-color: #fff6e3;
}

body {
    display: grid;
    grid-template: auto 1fr auto / 1fr 75vw 1fr;
    grid-template-areas: 
        "header header header"
        "aside main asd"
        "footer footer footer";
    background: var(--back-color);
    margin: 0;
/*     width: 10em; */
}

header {
    grid-area: header;
}

.main {
    position: relative;
    grid-area: main;
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    position: relative;
    min-height: calc(100vh - 93px);
    background: var(--paper-color);
    padding: 1em;
    flex-grow: 1;
    z-index: 5;
}

#page-1, #page-2,
#page-3, #page-4 {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: 1s;
}
#page-1 {
    background: #e7d6b6;
}
#page-2 {
    background: #d3be97;
}
#page-3 {
    background: #baa47d;
}
#page-4 {
    background: #897248;
}

footer {
    grid-area: footer;
}

section {
    position: relative;
    text-align: justify;
    padding: 1em;
    background: #fff0d1;
    margin-bottom: 1em;
    font-size: 125%;
}

hr {
    background: var(--back-color);
    border-style: none;
    height: 2px;
    margin-bottom: .5em;
}

@media screen and (max-width: 1000px) {
    #page-1, #page-2,
    #page-3, #page-4 {
        display: none;
    }
    body {
        grid-template-columns: 1fr 80vw;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
    }
    .main {
        margin-right: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    main {
        min-height: calc(100vh - 66px);
    }
    .main {
        margin: 0;
    }
    .main > span {
        display: none;
    }
    section {
        padding: .5em;
        margin-bottom: .5em;
    }
}

